* {
    font-family: cursive;
}
.main {
    text-align: center;
}

h1 {
    font-family: cursive;
}
Form {
  padding: 1%;
  margin-top: 6%;
  border: 2px solid teal;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px lightcoral;
}

Form input {
  width: 50%;
  margin-top: 1%;
  align-self: center;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightcoral;
}

Form input:focus {
  outline: 1px solid lightseagreen;
}

Form button {
  width: 13%;
  margin-top: 2%;
  align-self: center;
  box-shadow: 3px 3px 3px lightcoral;
}
